<div class="container" style='height: 100%;' *ngIf='user!=null'>
  <div class="btn-group btn-group-justified">
    <!-- <a href='#' class="btn btn-info cat" *ngIf='user._id!=cur_user_id'><h3>{{user.alias}}</h3></a> -->

    <a href='#' class="btn btn-info cat" *ngIf='user._id===cur_user_id' (click)="adding($event)">
      <h3>+ POST AN ITEM</h3>
    </a>
    <a class="btn btn-default" (click)='showProductList()'>
      <h4>TOTAL OF ITEMS: {{products.length}} <i class="fa fa-angle-left" aria-hidden="true" *ngIf='productListBool'></i></h4>
    </a>
    <a  (click)='showWishList()' class="btn btn-default" *ngIf='user.wishList && user.wishList.length>0'>
      <h4>WISH LIST {{user.wishList.length}} <i class="fa fa-angle-left" aria-hidden="true" *ngIf='wishListBool'></i></h4>
    </a>
    <a href="#" disabled class="btn btn-default" *ngIf='!user.wishList || user.wishList.length==0'>
      <h4>Wish list is empty</h4>
    </a>
    <a [routerLink]="['/conversation']" *ngIf='user._id===cur_user_id' class="btn btn-default">
      <h4>Conversations</h4>
    </a>
  </div>
  <div class='container-body'>
    <div id='user_mid'>
      <div id='user_mid1'>
        <div class="list-group-item">
          <h2>{{user.alias}}</h2>
        </div>
        <div *ngIf='products.length>0' class="list-group-item">
          <h4>Location of the last item</h4>
          <p> {{products[products.length-1].location}}</p>
        </div>
      </div>
      <div id='user_mid2' *ngIf='productListBool'>
        <h1>Product List</h1>
        <!-- PRODUCT ADDING FORM -->
        <div *ngIf='adder' class='new_product_box'>
          <!--  add this-->

          <form name='productForm' (submit)="adding_submit()" #productForm="ngForm">
            <div class='new_product_form_top'>
              <h3 class="panel-title">Post a product. Please make you sure fill all fields.</h3>
              <div class='new_product_form_top_row'>
                <div>
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" required [(ngModel)]="product.title" name="title" #title="ngModel">
                  <span *ngIf="title.invalid && (title.dirty || title.touched)"
                      class="alert-sm">
                      Title is required
                  </span>
                </div>
                <div>
                  <label for="price">Price</label>
                  <input type="number" placeholder='$' ng-pattern="/^[0-9]{1,7}$/" class="form-control" id="price" [(ngModel)]="product.price" name="price" #price="ngModel">
                  <div *ngIf="price.invalid"
                      class="alert-sm">
                      Price is required
                  </div>
                </div>
                <div>
                  <label for="location">Location</label>
                  <input type="number" placeholder='Zip Code' pattern="^\d{5}(?:[-\s]\d{4})?$" class="form-control" id="location" [(ngModel)]="product.location" name="location" #location="ngModel">
                  <div *ngIf="location.invalid && (location.dirty || location.touched)"
                      class="alert-sm">
                      Enter Zipcode
                  </div>
                </div>
                <div>
                  <label for="category">Category</label>
                  <select class="form-control" id="category" required [(ngModel)]="product.category" name="category" #category="ngModel">
                    <option *ngFor="let category of categories" value={{category}}>{{category}}</option>
                  </select>
                  <div *ngIf="category.invalid && (category.dirty || category.touched)"
                      class="alert-sm">
                      Category in required
                  </div>
                </div>
              </div>


              <div class='new_product_form_top_row'>
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" required [(ngModel)]="product.description"
                  name="description" #description='ngModel'></textarea>
                  <span *ngIf="description.invalid && (description.dirty || description.touched)"
                      class="alert-sm" style='background-color: white;'>
                      Description in required
                  </span>
              </div>
            </div>
            <div class='new_product_form_bottom'>
              <div class='new_product_form_bottom_buttons'>
                <div>
                  <label class="btn btn-default">
                    Choose File <input type="file" id="file" (change)="handleFileInput($event.target)" accept=".jpg, .jpeg, .png"
                      style='display: none'> <span style='color: red; margin-left: 15px'>{{imgError}}</span>
                  </label>
                </div>
                <div>
                  <button type="submit" class="btn btn-success" [disabled]='productForm.invalid'>Submit</button>
                </div>
              </div>
              <div class='new_product_form_bottom_images_list'>
                <img *ngFor='let img of product.images' src={{img}}>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf='product_submitted' class="alert alert-success" style='border-radius: 0px' role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully posted a new product.</p>
          </div>

        <div class="shop-tab" *ngIf='!adder && products.length>0'>
          <div class="col-md-3" *ngFor='let p of products'>
            <a [routerLink]="['/product', p._id]">
              <span class="thumbnail">
                <img class='product-img' src={{p.images[0]}} alt="...">
                <h4>{{p.title}}</h4>
                <p class='product-description'>{{p.description}}</p>
                <hr class="line">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <p class="price" *ngIf='p.price>0'>${{p.price}}</p>
                    <p class="price" *ngIf='p.price==0'>FREE</p>
                  </div>
                </div>
              </span>
            </a>
          </div>
        </div>
        <!-- Product list END -->

        <!-- Empty list -->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 shop-tab" *ngIf='!adder && products.length===0'>
          <h2>Nothing for sale</h2>
        </div>

      </div>
      <div id='user_mid2' *ngIf='wishListBool'>
        <h1>Wish List</h1>
          <div class="shop-tab" *ngIf='wishList.length>0'>
              <div class="col-md-3" *ngFor='let p of wishList'>
                <a [routerLink]="['/product', p._id]">
                  <span class="thumbnail">
                <img class='product-img' src={{p.images[0]}} alt="...">
                <h4>{{p.title}}</h4>
                <p class='product-description'>{{p.description}}</p>
                <hr class="line">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <p class="price" *ngIf='p.price>0'>${{p.price}}</p>
                    <p class="price" *ngIf='p.price==0'>FREE</p>
                  </div>
                </div>
              </span>
                </a>
              </div>
            </div>
            <!-- Product list END -->
    
            <!-- Empty list -->
            
      </div>



    </div>
  </div>
</div>