
  div.shop-tab-container{
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    border:1px solid #ddd;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
  }
  div.shop-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  div.shop-tab-menu div.list-group{
    margin-bottom: 0;
  }
  div.shop-tab-menu div.list-group>a{
    margin-bottom: 0;
  }
  div.shop-tab-menu div.list-group>a .glyphicon,
  div.shop-tab-menu div.list-group>a .fa {
    color: #bee5eb;
  }
  div.shop-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
  }
  div.shop-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
  }
  div.shop-tab-menu div.list-group>a.active,
  div.shop-tab-menu div.list-group>a.active .glyphicon,
  div.shop-tab-menu div.list-group>a.active .fa{
    background-color: #ffffff;
    background-image: #5A55A3;
    color: #5A55A3;
  }

  div.shop-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    vertical-align: text-middle;
  }
  .list-group-item {
  position: relative;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.120);
  }
  .btn-group {
  padding-top: 20px;
  }
  .btn-group > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0rem;
  }
  .cat {
  text-align: left;
  }

  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: relative;
    width: 100%;
    height: 360px;
  }

  .carousel-inner {
    border-radius: 0px;
  }

  .carousel-caption {
    background-color: rgba(0,0,0,.5);
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left;
  }

  .carousel-indicators {
    /* position: absolute; */
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
  }

  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }
/* product list */
.price{
  font-size: 20px;
    margin: 0 auto;
    color: #333;
}
.right{
  float:right;
  border-bottom: 2px solid #4B8E4B;
}
.thumbnail{
  opacity:0.70;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.thumbnail:hover{
  opacity:1.00;
  box-shadow: 0px 0px 10px #4bc6ff;
}
.line{
  margin-bottom: 5px;
}
@media screen and (max-width: 770px) {
  .right{
    float:left;
    width: 100%;
  }
}
.product-img{
  max-width: 200px;
  max-height: 200px;
  object-fit:scale-down;
}
/* #new_product_form{
  margin: 
} */

#user_top{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  height:50px;
  
}
.user_top-content{
  
}
#user_mid{
  min-height: 40em;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  /* height: 1000px; */
}
#user_mid1{
  width:25%;
  height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#user_mid2{
  width: 75%;
  height: 100%;
}
.container-body{
  min-height: 50%;
  width: 100%;
  background-color: rgba(255,255,255, 1);
}
#product_form{
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    background: green;
}
.product-from-element{
  margin: 0px auto;
}
.new_product_box{
  
  padding-top: 25px;
  padding-bottom: 25px;

  margin: 0px auto;
  width: 90%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}
.new_product_form_top{
  
  margin: 0px auto;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}
.new_product_form_top_row{
  margin-top: 20px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
}
.new_product_form_bottom_images_list{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.new_product_form_bottom_images_list img{
  max-width: 100px;
  margin: 5px;
}
input[type='file'] {
  color: transparent;
}
.new_product_form_bottom_buttons{
  margin-top: 15px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 2px solid rgb(84, 224, 91); /* green */
}
.ng-untouched input{
  border-left: 2px solid rgb(143, 143, 143);
}
.alert-sm{
  text-align: center;
vertical-align: middle;
position: absolute;
color: rgb(255, 59, 59);
}