<div class="header">
  <div id="head_content">
    <a href="/" class="logo">MarketPlace</a>
    <div class="header-right">
      <a [routerLink]="['/user',user._id]" *ngIf="user!=null">{{ user.alias }}</a>
      <a [routerLink]="['/login']" *ngIf="user==null">Login/Registration</a>
      <a [routerLink]="['/']" *ngIf="user!=null" (click)="logout()">Logout</a>
      <button (click)="checkUser()">Checksession</button>
    </div>
  </div>
</div>
<div id="content_main">
  <div id="router">
    <router-outlet></router-outlet>
  </div>
</div>

