<div class="container">
  <div class="row">

    <div class="btn-group btn-group-justified">
    </div>

    <div class="col-md-12 shop-tab-container">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 shop-tab-menu">
        <div class="list-group">
            <button class="list-group-item" (click)='selectCategory("All")'>
                <h4>
                  All<i class="fa fa-chevron-left" aria-hidden="true" *ngIf='active_cat==="All"'></i></h4>
            </button>
          <button class="list-group-item" (click)='selectCategory("Mens Clothing")' >
            <h4> Mens Clothing<i class="fa fa-chevron-left" aria-hidden="true" *ngIf='active_cat==="Mens Clothing"'></i></h4>
          </button>
          <button class="list-group-item" (click)='selectCategory("Womens Clothing")'>
            <h4> Womens Clothing <i class="fa fa-chevron-left" aria-hidden="true" *ngIf='active_cat==="Womens Clothing"'></i></h4>
          </button>
          <button class="list-group-item" (click)='selectCategory("Cars")'>
            <h4>Cars<i class="fa fa-chevron-left" aria-hidden="true" *ngIf='active_cat==="Cars"'></i></h4>
          </button>
          <button class="list-group-item" (click)='selectCategory("Home and Garden")'>
            <h4>Home and Garden<i class="fa fa-chevron-left" aria-hidden="true" *ngIf='active_cat==="Home and Garden"'></i></h4>
          </button>

          <button class="list-group-item" (click)='selectCategory("Electronics")'>
            <h4>Electronics<i class="fa fa-chevron-left" aria-hidden="true" *ngIf='active_cat==="Electronics"'></i></h4>
          </button>
          <button class="list-group-item" (click)='selectCategory("Baby and Child")'>
            <h4>Baby and Child<i class="fa fa-chevron-left" aria-hidden="true" *ngIf='active_cat==="Baby and Child"'></i></h4>
          </button>
          <button class="list-group-item" (click)='selectCategory("Other")'>
            <h4>Other<i class="fa fa-chevron-left" aria-hidden="true" *ngIf='active_cat==="Other"'></i></h4>
          </button>
        </div>
      </div>
      <!-- Product list START -->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 shop-tab" *ngIf='products.length>0'>
        <div class="col-md-3 col-sm-6" *ngFor='let p of products'>
          <a [routerLink]="['/product', p._id]">
            <span class="thumbnail">
              <img class='product-img' src={{p.images[0]}} alt="...">
              <h4>{{p.title}}</h4>
              <p class='product-description'>{{p.description}}</p>
              <hr class="line">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <p class="price" *ngIf='p.price>0'>${{p.price}}</p>
                  <p class="price" *ngIf='p.price==0'>FREE</p>
                </div>
              </div>
            </span>
          </a>
        </div>
      </div>
      <!-- Product list END -->
      <!-- Empty list -->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 shop-tab" *ngIf='products.length===0'>
        <h2>Nothing for sale</h2>
      </div>
      <!-- Product list END -->

    </div>
  </div>
</div>