<div class="container" *ngIf='product'>
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
            <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
            <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
            <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
            <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
            <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
          </ul>

        </div>
        <div class="details col-md-6">
          <p><textarea style="font-size: 21.7333px;" rows="1" placeholder='Title' [disabled]='!edit_sold_menu_status'>{{product.title}}</textarea></p>
          <p><textarea style="font-size: 17.7333px;" [disabled]='!edit_sold_menu_status' rows="1" placeholed='Description'>{{product.description}}</textarea></p>
          <p style="font-size: 18px;">$
            <span *ngIf='!edit_sold_menu_status'>
              <span *ngIf='product.price>0'><input disabled value={{product.price}}></span>
              <span *ngIf='product.price<1'><input disabled style='width: 100px; color:green' value="FREE"></span>
            </span>
            <input type='number' *ngIf='edit_sold_menu_status && true' style='width: 100px' min="0" placeholed='Price' value={{product.price}}>
          </p>
          <p class="product-description" style="font-size: 17;">Location Zip Code:
            <input type='number' pattern="[0-9]{5}" [disabled]='!edit_sold_menu_status' max='99999' style='width: 100px'
              placeholed='Zipcode' value={{product.location}}>
          </p> 
          <h5>Seller: <a [routerLink]="['/user', product.seller._id]">{{product.seller.alias}}</a></h5>
          <div *ngIf='cur_user'>
            <div class="action" *ngIf='cur_user._id!=product.seller._id'>
              <button class="add-to-cart btn btn-default" (click)='contactSeller()' type="button">contact seller</button>
              <span *ngIf='cur_user'>
                <button [disabled]='wishListIncludes' class="like btn btn-default" type="button">
                  <span class="fa fa-heart"></span>
                  add to wishlist
                </button>
              </span>
              <span *ngIf='!cur_user'>
                <button class="like btn btn-default" (click)='addToWishList()' type="button">
                  <span class="fa fa-heart"></span>
                  add to wishlist
                </button>
              </span>
            </div>
            <div class="action" *ngIf='cur_user._id==product.seller._id'>
              <button type='button' class="btn btn-success" (click)='this.edit_sold_menu()'>Edit/Sold</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- EDIT SECTION -->


  <!-- CHAT BOX -->
  <div class="container-fliud" *ngIf='conversation'>
    <div class="row" style='display: flex; width: 100%;'>
      <div class="col-md-5" style='margin: 0px auto;'>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> Chat
            <div class="btn-group pull-right" (click)="conversation = false">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
            </div>
          </div>
          <div class="panel-body">
            <ul class="chat">
              <li class="left clearfix" *ngFor='let m of conversation.messages'>
                <span *ngIf='m.sender_id===cur_user._id' class="chat-img pull-left">
                  <img [src]="photo_buyer" alt="User Avatar" class="img-circle" />
                </span>
                <span *ngIf='m.sender_id!==cur_user._id' class="chat-img pull-left">
                  <img [src]="photo_seller" alt="User Avatar" class="img-circle" />
                </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">{{m.sender_alias}}</strong> <small class="pull-right text-muted">
                      <span class="glyphicon glyphicon-time"></span>{{m.date | date:'medium'}}</small>
                  </div>
                  <p>
                    {{m.message}}
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input id="btn-input" #message required type="text" class="form-control input-sm" placeholder="Type your message here..."
                autofocus />
              <span class="input-group-btn">
                <button (keyup.enter)="onEnter(message.value)" (click)="sendingMessage(message.value); message.value=''"
                  class="btn btn-warning btn-sm" id="btn-chat">
                  Send</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>